body {
    background:#0a0f1a;
    color:white;
    font-family:Arial;
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
}

.box {
    background:#121826;
    padding:30px;
    border-radius:14px;
    width:350px;
    box-shadow:0 0 25px rgba(0,173,255,.4);
}

input {
    width:100%;
    padding:10px;
    border-radius:8px;
    border:none;
    margin-bottom:15px;
}

button {
    width:100%;
    padding:10px;
    margin:8px 0;
    border-radius:8px;
    background:#00afff;
    border:none;
    color:white;
    font-size:16px;
    cursor:pointer;
}
